@import "tailwindcss";
/* @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap'); */

@font-face {
    font-family: 'SF Ironsides';
    src: url('/font/SF-Ironsides.ttf');
}
@font-face {
    font-family: 'AnavioSmallCapitalsW01-Bold';
    src: url('/font/Anavio-Small-Capitals-W01-Bold.ttf');
}
@font-face {
    font-family: 'Laila';
    src: url('/font/Laila-Regular.ttf');
}
